* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    image-rendering: pixelated;
}

#filemp3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    text-decoration-color: black;
    margin-bottom: -50px;
    padding-right: -100px;
    background-color: transparent;
}

p {
    position: fixed;
    bottom: .25%;
    left: 0;
    /* text-decoration-color: white; */
}

#top {
    color: white;
    position: fixed;
    top: 92%;
    left: 0;
}

.bottom {
    color: red;
    margin-right: 1px;
}